{% extends 'base.html' %}

{% block content %}
      <!-- VULNERABLE -->
      <div class="notification is-danger is-light">
        The field below is vulnerable to XSS DOM!
      </div>
        <h2>Addition Calculator</h2>
        <div id="result">Fail</div>
        <input id='first'></input>
        <input id='second'></input>
        <script>
          var num = document.URL.split('num=')[1];
          document.getElementById('result').innerHTML = eval(num);
  
          function redirect(){
            var url = document.location.href.split('/')[0] + '?num=' + document.getElementById('first').value + '+' + document.getElementById('second').value;
            console.log(url)
            document.location = url;
          }
        </script>
        <button onclick=redirect()>Submit</button>
{% endblock %}